@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title{
    @apply text-purple-400 mr-4 md:inline group-hover:bg-blue-500 hover:text-white;
  }
  .btn-primary{
    @apply bg-green-400 text-white pr-2 pl-2 rounded-md hover:bg-green-500 motion-safe:hover:animate-pulse
  }
}

@layer base{
  *{
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
  }
}
